@CHARSET "UTF-8";
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#botoes {
	padding: 4px;
	border: 1px solid #c0c0c0;
	text-align: right;
	margin-bottom: 10px;
}

.form-painel {
	margin-top: 10px;
	margin-bottom: 10px;
}